@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/variable/pretendardvariable.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #EFF0F4;
    --foreground: #EFF0F4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #EFF0F4;
        --foreground: #EFF0F4;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pretendard Variable", sans-serif;
    background-color: #EFF0F4;
}
img {
    -webkit-user-drag: none; /* Safari와 WebKit 브라우저에서 지원 */
}

.crosscontainer {
    position: relative;
    background-color: #EFF0F4;
    width: 393px;
    height: 852px;
}

.logo {
    position: absolute;
    top: 43px;
    left: 21px;
}

.gridcontainer {
    position: absolute;
    width: 324px;
    height: 429px;
    top: 152px;
    left: 50%;
    transform: translateX(-50%);
    background: #D2D4F6;
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(6, 47px);
    grid-template-rows: repeat(8, 47px);
    gap: 6px;
    padding: 6px;
}
.inputbox {
    background-color: #E8F1F6;
    border-radius: 7.82px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 100%;
    height: 100%;
}
.textcontainer {
    position: absolute;
    padding: 15px;
    color: #434CB1;
    background: #D2D4F6;
    top: 597px;
    left: 50%;
    transform: translateX(-50%);
    width: 333px;
    height: auto;
    border-radius: 8.95px;
    font-weight: 500;
}
.wordinputs {
    position: relative;
    height: 100%;
}

.wordinput {
    position: absolute;
    bottom: 59.4px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2.68px;
}

.ret {
    width: 49.6px;
    height: 49.6px;
    background: #F8F8F8;
    border-radius: 4.89px;
    box-shadow: 0 3.12px 6.24px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18.61px;
    font-weight: 600;
    font-family: 'Pretendard', sans-serif;
    color: #434CB1;
}
.submitbtn{
    position: absolute;
    width: 190px;
    height: 37px;
    bottom: 59.4px;
    left: 50%;
    transform: translateX(-50%);
    background: #515DF1;
    color: white;
    border-radius: 8.95px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eggs{
    background-color: #EFF0F4;
    width: 393px;
    height: 852px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}
.bigdata{
    margin-top: 2.5rem;
    text-decoration-line: underline;
}
.clock-container{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.57px;
}
.clock-container .clock-text {
    font-size: 16.22px;
    font-weight: 500;
    color: #474C88;
}
.progresscontainer{
    position: absolute;
    top: 117.22px;
    left: 47.17px;
 }

